<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>生成ppt</title>
<div class="page-header">
    <h2 style="padding-left:15px">生成ppt</h2>
</div>
<form action="/gen_file" method="post" style="padding-left:15px">
    <div class="form-group">
        <label>文档名称：</label>
        <input type="text" name="file_name" value="{{ file_name }}">
    </div>
    <div class="form-group">
        <label>文档内容：</label><a href="/templates">载入模板 </a>
        <a href="/help"><button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="top"
                title="点击查看"><span class=" glyphicon
            glyphicon-question-sign" aria-hidden="true"></span> 模板说明</button></a>
    </div>
    <div class="form-group">
        <textarea name="file_content" rows="18" cols="44">{{ file_content }} </textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">生成</button> &nbsp;<input type="checkbox" name="isshare" value="true" />同时生成组织模板
    <br>
</form>