<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>帮助文档</title>
<div class="page-header">
    <h2 style="padding-left:15px">帮助文档</h2>
</div>
<div style="padding:15px">
    <label>模板说明：</label><br>
    <p>模板分为个人模板和组织模板。</p>
    <p>个人模板是自己生成过，方便在已有模板基础上生成新方案。</p>
    <p>组织模板是同事间共享，可以在生成个人模板时同时生成组织模板</p>
    <br>
    <label>模板格式：</label><br>
    <p>模板为自定义的txt格式，每行代表从源ppt中抽取一页或多页。</p>
    <p>符号说明(全部为英文符号而非全角)：</p>
    <li>/代表目录，从相应目录中查找源ppt</li>
    <li>:后面为可替换placeholder，按英文逗号分隔替换原ppt里的内容，比如大纲/首页 替换首页上的几个文字，还有目录和章节的文字</li>
    <li>@后面是页码，英文逗号分隔，按顺序抽取源ppt指定页面，如果没有@则抽取整个源ppt</li>
</div>